html,body {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.ember-view {
  height: 100%;
}
section.section {
  height: 100%;
  .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
