<section id="vibrate" class="section">
  <div class="flex">
    <div class="col-xs-6 text-center">
      <button class="btn btn-lg btn-primary" {{action "vibrate"}}>Vibrate!</button>
    </div>
  </div>
</section>
